.navFont {
  font-family: "Baloo Tamma 2", cursive;
}

.navLogo {
color: #65617d !important;
}

.navLink:after, .navLogo:after {
  display: block;
  content: "";
  border-bottom: solid 2px #6c63ff;
  transform: scaleX(0);
  transition: 250ms ease-in-out;
}

.navLink:hover:after, .navLogo:hover:after {
  transform: scaleX(1);
}
